.screen-left {
	.sm-puppet-eyes {
		margin-left: 7px;
	}
	.sm-puppet-leg .sm-puppet-foot {
		left: -2px;
		transform: rotate(30deg);
	}
}

.screen-right {
	.sm-puppet-eyes {
		margin-left: -5px;
	}
	.sm-puppet-leg .sm-puppet-foot {
		left: -18px;
		transform: rotate(-30deg);
	}
}

.screen-top {
	.sm-puppet-eyes {
		margin-top: 10px;
	}
}

.screen-bottom {
	.sm-puppet-eyes {
		margin-top: 0;
	}
}