.smbrowserpuppet53 {
    position: fixed;
    top: $d-eighth;
    left: $d-eighth;
    width: $d-double;
    height: $d-quadruple;
    box-sizing: border-box;
    transition: transform .1s;
    backface-visibility: hidden;
    * {
        box-sizing: border-box;
        backface-visibility: hidden;
    }
}

.sm-puppet-container {
    position: relative;
    float: left;
    width: $d-double;
    height: $d-quadruple;
}

.sm-puppet-head {
    display: block;
    width: $d-half;
    height: $d-threequarters;
    background-color: $c-skin;
    border-radius: 60% 60% 60% 60% / 40% 40% 60% 60%;
    @extend .h-center;
}

.sm-puppet-eyes {
    width: $d-quarter;
    height: $d-eighth;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: $d-quarter;
}

.sm-puppet-eye {
    width: calc(#{$d-eighth} / 2);
    height: calc(#{$d-eighth} / 2);
    border-radius: 50%;
    background: black;
    opacity: .3333;
    position: absolute;
    top: 0;
    &.sm-puppet-eye-left {
        left: calc(#{$d-eighth} * -.25);
    }
    &.sm-puppet-eye-right {
        right: calc(#{$d-eighth} * -.25);
    }
}

.sm-puppet-torso {
    background: $c-shirt;
    height: $d-base;
    width: $d-half;
    top: calc(#{$d-threequarters} + 2px);
    position: relative;
    float: left;
    margin-left: $d-base;
    transform: translateX(-50%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sm-puppet-legs {
    //pelvis
    width: $d-half;
    height: $d-quarter;
    background: $c-pants;
    border-bottom-left-radius: $d-quarter;
    border-bottom-right-radius: $d-quarter;
    top: calc(#{$d-base} + #{$d-threequarters});
    @extend .h-center;
}

.sm-puppet-leg-container {
    position: relative;
    width: 100%;
    height: $d-quarter;
    float: left;
}

.sm-puppet-arm {

    position: absolute;
    top: 0;

    .sm-puppet-upper-arm {
        width: $d-eighth;
        height: $d-threequarters;
        background: $c-shirt;
        z-index: 0;
    }

    .sm-puppet-forearm {
        width: $d-eighth;
        height: $d-threequarters;
        margin-top: -5px;
        background: $c-skin;
        z-index: 1;
        border-radius: $d-eighth;
    }

    .sm-puppet-hand {
        position: absolute;
        width: $d-quarter;
        height: $d-quarter;
        background: $c-skin;
        bottom: calc(#{$d-eighth} * -.5);
        z-index: 2;
        border-radius: $d-eighth;
    }

    &.sm-puppet-arm-left {
        left: calc(#{$d-eighth} * -1);
        transform: rotate(20deg) translateX(5px);
        transform-origin: top right;

        .sm-puppet-upper-arm {
            border-top-left-radius: $d-eighth;
        }

        .sm-puppet-hand {
            left: calc(#{$d-eighth} * -.5);
        }
    }

    &.sm-puppet-arm-right {
        right: calc(#{$d-eighth} * -1);
        transform-origin: top left;
        transform: rotate(-20deg) translateX(-5px);

        .sm-puppet-upper-arm {
            border-top-right-radius: $d-eighth;
        }

        .sm-puppet-hand {
            left: calc(#{$d-eighth} * -.5);
        }
    }
}

.sm-puppet-leg {
    position: absolute;
    top: 0;

    .sm-puppet-upper-leg {
        width: $d-eighth;
        height: $d-base;
        background: $c-pants;
    }

    .sm-puppet-lower-leg {
        width: $d-eighth;
        height: $d-base;
        background: $c-pants;
        border-radius: $d-eighth;
        margin-top: -5px;
    }

    .sm-puppet-foot {
        position: absolute;
        left: -2px;
        width: $d-third;
        height: calc(#{$d-eighth} * 1.5);
        background: $c-shoes;
        bottom: calc(#{$d-eighth} * -.5);
        z-index: 2;
        border-radius: calc(#{$d-eighth} * .75);
    }

    &.sm-puppet-leg-left {
        left: 0;
    }

    &.sm-puppet-leg-right {
        right: 0;
    }
}